<%= render 'form', article: @article %>
<br>
<div style="text-align: center">
<%= link_to 'Ver Articulo', @article, class: "btn btn-info" %> 
<%= link_to 'Volver Atras', articles_path, class: "btn btn-primary" %>
</div>
